<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Real Time Feed</title>
        <link rel="stylesheet" href="/views/style.css">
        <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="profile.js"></script>
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </head>
    <body>

		<form action="/logout" method="post">
	        <input type="submit" value="Log Out!"/>
		</form>


		<h1>Filter Administration</h1>
        <button id='hideshowfilter'>Hide/Show filter panel</button>
        <div id="filterstuff">

            <h2>Current Filters</h2>
            <ul id="currentFilters"></ul>

            <h2>Filter Creation Panel</h2>

			<select id="dbTables" >
				<option disabled selected value> -- select an option -- </option>
			</select>

            <ul id="createFilters"> </ul>

            <div id="filter_frequency">
    			<p>
    				<i>(optional)</i> Up to
    			</p>
    			<input id='frequency_count' type='number' />
    			<p> posts per </p>
    			<select id="frequency_time" >
    				<option disabled selected value> -- select an option -- </option>
    				<option value="m30"> 30 minutes </option>
    				<option value="h2"> 2 hours </option>
    				<option value="h8"> 8 hours </option>
    				<option value="d1"> 1 day </option>
    			</select>
            </div>

            <form id='filter_form' method='post'>
	            <input type='text' id='filter_title' placeholder='Title of the filter' />
                <button id='submitFilter' type='submit'>Add Filter</button>
                <p id='filterResponse' class="serverResult"></p>
            </form>

        </div>


		<h1>Wiki Posts Feed</h1>

        <ul id='posts'></ul>


		<form action="/signout" method="post">
            <p>Be veeeery careful!</p>
	        <input type="submit" value="Sign Out!"/>
		</form>
    </body>
</html>
