<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
    <title>Movie Voting</title>
    <link rel="stylesheet" href="style.css">
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="wikiposting.js"></script>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </head>
    <body>
        <h1>Wiki Posts Feed</h1>

        <ul id='wikiposts'>
            <% wikiposts.forEach(function(wikipost, index){ %>
            <li class='wikipost' id='<%= wikipost.id %>'>
                <span class='position'><%= index+1 %></span>
                <span class='user'><%= wikipost.user %></span>
                <span class='title'><%= wikipost.title %></span>

                <input class='deletePost' type="image"
                    src="delete.png"
                    width="32" height="32" />
            </li>
            <% }) %>
        </ul>
        <form id='form' method='post'>
            <h1>Add Wiki Post</h1>
            <input type='text' id='title' placeholder='Title of the wikipost (rest values set to default)...' />
            <button id='btnSubmit' type='submit'>Add</button>
        </form>

        <ul id="hiddenP">

        </ul>

    </body>
</html>
