body{
  font-family:arial,sans-serif;
}

ul.createFilters {
  margin: 1em;
  padding: 0;
  /*list-style-type: none;*/
}

#list_choice_template{
  display: none;
}

#choice_template{
  display: none;
}

li.createFilter {
  min-height: 20px;
}

li.createFilter li.choice{
	display: block;
  margin: auto;
}

li.createFilter li.choice .choiceBtn{
	display: block;
  margin-right: 400px;
  
}

li.createFilter li.choice:nth-child(odd) {
  background-color:#aaecee;
}



ul.wikiposts {
  margin: 1em;
  padding: 0;
  list-style-type: none;
}

li.wikipost {
  min-height: 90px;
}

li.wikipost .deletePost {
  display: block;
  margin: auto;
}

li.wikipost:nth-child(odd) {
  background-color:#aaecee;
}

.position {
  width: 80px;
	height: 90px;
	font-size: 35px;
	font-weight: 700;
  text-align: center;
	float: left;
	line-height: 90px;
}

.title {
    font-size: 25px;
    font-weight: 400;
    line-height: 90px;
}
