<div id="container">

<li class='wikipost' id='' >
	<span class='position'></span>
	<span class='user'></span>
	<span class='title'></span>
	<input class='deletePost' type='image' src='delete.png' width='32' height='32' />
</li>

<li class='createFilter' title="boolean" id=''>
	<span class='message'></span>
	<input class='choice' type='checkbox' value='true' />
</li>

<li class='createFilter' title="multiple" id=''>
	<span class='message'></span>
	<span id='lala'>
		<span><span></span></span>
	</span>
	<div class="multiple_choice" id='multiple_choice_template' hidden >
		<span class='description'></span>
		<input class='choice' type='checkbox' value='true' />
	</div>
</li>

</div>
