<div id="container">

<li class='post' id='' >
	<span class='position'></span>
	<span class='user'></span>
	<span class='title'></span>
	<input class='deletePost' type='image' src='delete.png' width='32' height='32' />
</li>


<li class='currentFilter' id=''>
	<span class='filter_title'></span>
	<span class='filter_table'></span>
	<input class='deleteFilter' type='image' src='delete.png' width='14' height='14' />
	<input class='pauseFilter' type='image' src='pause.png' width='14' height='14' />
	<input class='playFilter' type='image' src='play.png' width='14' height='14' />
</li>

<ul id="createFiltersTemplate"> </ul>

<li class='createFilter' title="boolean" id=''>
	<span class='message'></span>
	<input class='choiceBtn' type='checkbox' value='true' />
</li>

<li class='createFilter' title="multiple" id=''>
	<span class='message'></span>
	<ul id='list_choice_template'>
		<li id='choice_template' class='choice'>
			<label style="display: block;">
				<span class='description'></span>
				<input class='choiceBtn' type='checkbox' value='true'/>
			</label>
		</li>
	</ul>
</li>

</div>
