<div id="container">

<li class='wikipost' id='' >
	<span class='position'></span>
	<span class='user'></span>
	<span class='title'></span>
	<input class='deletePost' type='image' src='delete.png' width='32' height='32' />
</li>

<li class='createFilter' title="boolean" id=''>
	<span class='message'></span>
	<input class='choiceBtn' type='checkbox' value='true' />
</li>

<li class='createFilter' title="multiple" id=''>
	<span class='message'></span>
	<ul id='list_choice_template'>
		<li id='choice_template' class='choice' hidden>
			<span class='description' hidden></span>
			<input class='choiceBtn' type='checkbox' value='true' hidden />
		</li>
	</ul>
</li>

</div>
